* {
  font-family: sans-serif;
}
.res-link {
  text-decoration: none;
  color: black;
}
.star-rating {
  margin: 2px 4px 0 0;
  color: #1e933c;
}
.restaurant-rating {
  display: flex;
}
#restaurant-items-page {
  width: 50%;
  margin: auto;
}
#restaurant-header {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 10px 10px gray;
}
.restaurant-section {
  margin-top: 40px;
}
.costForTwo {
  margin-left: 5px;
}
#restaurant-address {
  margin-top: 15px;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 20px;
}
.address-section {
  margin: 10px 0;
}

.outlet {
  margin-right: 5px;
}
.areaName {
  color: gray;
}
.star-small {
  font-size: 13px;
  padding-bottom: 10px;
  color: #116649;
}
.rating {
  font-size: 0.9rem;
  color: #116649;
}
.res-items-section {
  margin: 30px;
}
.item-name {
  color: #414449;
  font-weight: bold;
}
.item-rating {
  margin: 10px 0;
}
.item-description {
  color: #676a6d;
}
.item-price {
  margin-top: 10px;
  color: #161a1f;
}
.item-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.item-img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  border-radius: 20px;
}
.div-item-img {
  position: relative;
}
.item-add-btn {
  position: absolute;
  font-size: 1.1rem;
  bottom: 40px;
  left: 39px;
  background-color: #fff;
  color: #1ba672;
  text-transform: uppercase;
  font-size: bolder;
  border: none;
  border-radius: 7px;
  padding: 4px 20px;
  box-shadow: 0px 3px 7px gray;
}
.noOfratings {
  margin-left: 3px;
  color: #676a6d;
  font-size: 0.9rem;
}
.no-items-heading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
